SensitiveData.swift
coupleZoneTest.xcodeproj/project.xcworkspace/xcuserdata/muratcankoc.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

*.xcuserstate

coupleZoneTest.xcodeproj/xcuserdata/muratcankoc.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store

coupleZoneTest.xcodeproj/xcuserdata/mkoc.xcuserdatad/xcschemes/xcschememanagement.plist
